# Ignore environment files
/backend_api/.env

# Ignore Node.js dependencies
/backend_api/node_modules
/mock-ui/node_modules

# Ignore IDE/editor-specific files
.vscode
.idea
.DS_Store

# Ignore lock files
/backend_api/package-lock.json
/mock-ui/package-lock.json